<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>my crazy basic website</title>
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen">

</head>

<body>.
	<div id="page">
	<div id="header">
		<h1>this is my crazy website</h1>
		<h2>welcome to my crazy website</h2>
	</div>
	<div id="nav">
		<a href="#" class="link">click here</a>
		<a href="#" class="link">some crazy stuff here</a>
		<a href="#" class="link">hey you click here </a>
		</div>
	<div id="sidenav">
		<ul>
			<li>
			<a href="images/WX_circle_black.png" class="link">link 1</a>
				<a href="images/giphy.gif" class="link">link 2</a>
				<a href="images/1fdf64e2ede6f751fd668788a6900b6d.gif" class="link">link 3</a>
			</li>
</ul>
		</div>
	<div id="main">
		<div class="aticle 1">
			<h1>article 1</h1>
			<img class="left pos" src="images/giphy.gif" alt="spinning gif" width="200" height="200">
			<p>text infomation</p>
		</div>
		
		
		</div>
	<div id="footer">
		<p>this is the bottom of my page nothing crazy here</p>
		</div>
	</div>



	
</body>
</html>
